<app-navbar></app-navbar>
<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registro de rescate</h3>
            <form [formGroup]="rescateForm" (ngSubmit)="registrarAdopcion()">

              <div class="row">
                <div class="col-md-12 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">Lugar del rescate</label>

                    <input type="text" id="firstName" class="form-control form-control-lg" formControlName="lugar" />
                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Fecha</label>
                    <input type="date" class="form-control form-control-lg" id="birthdayDate" formControlName="fecha" />
                  </div>

                </div>
                <label for="Seleccione el sexo">Sexo de la mascota </label>

                <div class="col-md-16 mb-4">

                  <select class="select form-control-lg" formControlName="sexo">
                    <option value="0" disabled>Seleccione una opcion</option>
                    <option value="1">Macho</option>
                    <option value="2">Hembra</option>

                  </select>

                </div>
                <label class="form-label select-label">Seleccione el tipo de mascota</label>

                <div class="row">
                  <div class="col-md-12 mb-4">

                    <div class="form-outline">
                      <select class="select form-control-lg" formControlName="tipo">
                        <option value="0" disabled>Seleccione una opcion</option>
                        <option value="1">Perro</option>
                        <option value="2">Gato</option>
                      </select>

                    </div>

                  </div>

                </div>


              </div>

              <div class="row">
                <div class="col-12">


                  
                </div>
              </div>
              <label class="form-label select-label">Estado del animal</label>

              <div class="row">
                <div class="col-12">

                  <textarea name="" id="" cols="30" rows="5" formControlName="estado"></textarea>


                </div>
              </div>

              <label class="form-label select-label">Caracteristicas del animal</label>

              <div class="row">
                <div class="col-12">

                  <textarea name="" id="" cols="30" rows="5" formControlName="caracteristicas"></textarea>


                </div>
              </div>
              
              <div class="mt-4 pt-2">
                <input [disabled]="rescateForm.invalid" class="btn btn-success" type="submit" value="Registrar" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>