
 
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }


    input{
        border-color: black;
    }

    .gradient-custom{
        background-color: rgba(97, 187, 248, 0.938);
    }

    label{
        font-weight: bold;
    }

    textarea{
        border-radius: 15px;
        border-color: black;
    }