html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}




.date-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


input{
  border-radius: 10px;
  border-color: black;
  margin-right: 20px;
}

label{
  margin-right: 10px;
}




