<app-navbar></app-navbar>
<section class="intro">
    <div class="bg-image h-100" style="background-color: #f5f7fa;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #002d72;">
                        <tr>
                          <th scope="col">No.</th>
                          <th scope="col">Nombres</th>
                          <th scope="col">Apellidos</th>
                          <th scope="col">Usuario</th>
                          <th scope="col">Genero</th>
                          <th scope="col">Rol</th>
                          <th *ngIf="usuarioLog.codigo_rol==1" scope="col">Estado</th>
                          <th *ngIf="usuarioLog.codigo_rol==1" scope="col">Accion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let usuario of listaUsuarios; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{usuario.nombre}}</td>
                          <td> {{usuario.apellido}}</td>
                          <td> {{usuario.usuario}}</td>
                          <td *ngIf="usuario.sexo==1" >Hombre</td>
                          <td *ngIf="usuario.sexo==2" >Mujer</td>
                          <td *ngIf="usuario.codigo_rol==1" >Adminsitrador</td>
                          <td *ngIf="usuario.codigo_rol==2" >Voluntario</td>
                          <td *ngIf="usuarioLog.codigo_rol==1 && usuario.activo==true" >Activo</td>
                          <td *ngIf="usuarioLog.codigo_rol==1 && usuario.activo==false" >Inactivo</td>
                          <td *ngIf="usuarioLog.codigo_rol==1 && usuario.activo==true" ><button type="button" class="btn btn-danger" (click)="desactivarUsuarios(i)" >Desactivar</button></td>
                          <td *ngIf="usuarioLog.codigo_rol==1 && usuario.activo==false" ><button type="button" class="btn btn-success" (click)="activarUsuarios(i)" >Activar</button></td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>